body{
    background-image: url(owl.jpg);
}
h1 {
    font-size: 100px;
    color: rgb(255, 255, 255);

}
h2 {
    font-size: 75px;
color: rgb(0, 0, 0);
}
h3 {
    font-family: 70px
}
h1,h2,h3,p,img,input {
    text-align: center;
}

img{
    display: block;
    margin: 0 auto;
}
ol,ul {
    color: rgb(183, 19, 19);
    text-align: center;
    list-style-position: inside;
    margin-bottom: 30px;

}
input, button{
    padding: 10px 15px;
    border-radius: 11px;
    border: 2px;
    display: block;
    margin: 0 auto;
}
img{
    display: block;
    margin: auto;
    box-shadow: 5px 5px 10px (0,0,0);
    transition: transform 0.3;
}
img:hover{
    transform: scale(1.1);
}

section {
    text-align: center; /* Центрирует строчные и inline-flex элементы внутри */
}

.inputbutton {
    display: inline-flex;
    gap: 2px;
    align-items: center;
}
ol,ul{ 
    text-align: center;
}